@model MangaChapter

@* @{
    int novelid = (int)ViewData["novelid"];
} *@

<form method="post" enctype="multipart/form-data">
    <input asp-for="@Model.mangaChapterId" type="number" hidden />
    <div class="border mt-4 p-3">
        <div class="row pb-2 ps-0">
        </div>
        <div class="mb-3 row">

            <input asp-for="MangaId" type="number" value="@Model.MangaId" />
            <label class="mt-4" asp-for="@Model.chapterNum">Chapter Number</label>
            <input asp-for="@Model.chapterNum" type="number" class="form-control shadow" />
            <label class="mt-4" asp-for="@Model.chapterFolder">Chapter Image</label>
            <input type="file" name="file" multiple />
            <input asp-for="@Model.dateCreated" type="datetime" value="@DateTime.Now." />
        </div>

        <div class="row mb-3">
            <div class="col-12 col-md-6">
                <button class="btn btn-primary form-control" type="submit"> @(Model.mangaChapterId != 0 ? "Update " + Model.mangaChapterId : "Create")  Novel</button>
            </div>
            <div class="col-12 col-md-6">
                <button asp-area="AdminPanel" asp-controller="MangaPanel" asp-action="Index" class="btn btn-secondary form-control border">Back to Admin Page</button>
            </div>
        </div>



    </div>
</form>
